body {
 margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px;
 height: 100%;
 font-family: 'Open Sans', sans-serif;  
}

html{
  height: 100%;
}

main {
  height: 100vh;
}

img {
  max-width: 100%;
  height: 100%;
}

iframe, object, embed {
  max-width: 100%;
}

.stripe{
  width: 11.11vw;
  height: 100vh; 
  top: 0vh;
  position: absolute;
}

.stripe.move{
  top: -100vh;
}

/*individual stripes folded below*/
main .stripe:nth-of-type(1){
  transition: top .84s ease-out 0.1s, background 4s;
}

main .stripe:nth-of-type(2){
  left: 11.11vw;
  transition: top 1.16s ease-out 0.1s, background 4s;
}

main .stripe:nth-of-type(3){
  left: 22.22vw;
  transition: top 1.05s ease-out 0.1s, background 4s;
}

main .stripe:nth-of-type(4){
  left: 33.33vw;
  transition: top 1.2s ease-out 0.1s, background 4s;
}

main .stripe:nth-of-type(5){
  left: 44.44vw;
  transition: top 1.55s ease-out 0.1s, background 4s;
}

main .stripe:nth-of-type(6){
  left: 55.55vw;
  transition: top 1.31s ease-out 0.1s, background 4s;
}

main .stripe:nth-of-type(7){
  left: 66.66vw;
  transition: top 1.43s ease-out 0.1s, background 4s;
}

main .stripe:nth-of-type(8){
  left: 77.77vw;
  transition: top 1.35s ease-out 0.1s, background 4s;
}

main .stripe:nth-of-type(9){
  left: 88.88vw;
  transition: top 1.27s ease-out 0.1s, background 4s;
}

nav{
  position: absolute;
  z-index: 5;
  top: 80vh;
  left: 28vw;
  width: 43vw;
  height: 20vh;
}

nav a{
  text-decoration: none;
  color: white;
  font-size: 2vw;
  text-shadow: 4px 2px 2px rgba(0, 0, 0, 1);
}

nav a:hover{
  color: black;
  text-shadow: 4px 2px 2px rgba(255, 255, 255, 1);
}

nav a:nth-of-type(1) {
  margin-right: 3vw;
}

nav a:nth-of-type(2) {
  margin-right: 3.5vw;
  margin-left: 3.5vw;
}

nav a:nth-of-type(3) {
  margin-left: 3vw;
}

nav .banner{  
  font-size: 3vw;
  color: white;
  letter-spacing: 0.3vw;
}

/*colors folded below*/

.red{
  background-color: #AF1C08;
}

.orange{
  background-color: #F5892D;
}

.gold{
  background-color: #F5AE2D;
}

.yellow{
  background-color: #C3C900;
}

.lime{
  background-color: #81BD09;
}

.lilypad{
  background-color: #078F58;
}

.sky{
  background-color: #077A7F;
}

.ocean{
  background-color: #4353B7;
}

.purple{
  background-color: #7F57C3;
}

.fabulous{
  background-color: #880788;
}

.royalty{
  background: url("http://api.thumbr.it/whitenoise-361x370.png?background=6F47B3ff&noise=ffffff&density=10&opacity=10");
}

.dank{
  background: url("http://api.thumbr.it/whitenoise-361x370.png?background=187B54ff&noise=ffffff&density=10&opacity=10");
}

.darkred{
  background: url("http://api.thumbr.it/whitenoise-361x370.png?background=880712ff&noise=ffffff&density=10&opacity=10");
}

.the-band-body{
  background: url("http://api.thumbr.it/whitenoise-361x370.png?background=FFC9FB&noise=ffffff&density=10&opacity=35");
}

.the-shows-body{
  background: url("http://api.thumbr.it/whitenoise-361x370.png?background=FFD4DC&noise=ffffff&density=10&opacity=35");
}

.the-music-body{
  background: url("http://api.thumbr.it/whitenoise-340x370.png?background=8ECC8A&noise=ffffff&density=10&opacity=20");
}

.raena-color{
  color: #d63580;
}

.sandy-color{
  color: #f0a938;
}

.rose-color{
  color: #16d378;
}

section{
  display: none;
  height: 100vh;
  width: 100vw;
}

section.active{
  display: initial;
}

section.stripes-curtain{
  display: initial;
  position: absolute;
  z-index: 4;
  pointer-events: none;
}

.subsection-container{
  width: 80vw;
  display: block;
  position: relative;
  height: 70vh;
  top: 5vh;
  margin-left: 10vw;
  z-index: 3;
  border: 2px solid white;
  border-radius: 10px; 
  -webkit-box-shadow: 9px 15px 9px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 15px 9px 3px rgba(0,0,0,0.75);
  box-shadow: 9px 15px 9px 3px rgba(0,0,0,0.75);
}

.picture{
  height: 45%;
  width: 23%;
  display: inline-block;
  float: left;
  position: relative;
  margin-right: 3vw;
  margin-left: 3vw;
  margin-bottom: 1vw;
  left: 4vw;
  top: 1vh;
  text-align: center;
  font-size: 24px;
  color: white;
}

.band-biography{
  height: 30%;
  width: 79%;
  background: url("http://api.thumbr.it/whitenoise-361x370.png?background=F7E6F7&noise=ffffff&density=10&opacity=35");
  border: 2px solid white;
  border-radius: 10px;
  left: 7vw;
  bottom: 5vh;
  position: absolute;
  padding: 1vw;
  overflow: hidden;
  -webkit-box-shadow: 9px 11px 9px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 11px 9px -5px rgba(0,0,0,0.75);
  box-shadow: 9px 11px 9px -5px rgba(0,0,0,0.75);
}

.band-biography p{
  margin-top: 0px;
  text-indent: 2vw;
  color: dodgerblue;
}

.name{
  font-size: 26px;
}

#mjt-player-iframe{
  background-image: url('images/MJT_player.jpg');
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.calendar-player{
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.next-show{
  text-align: center;
  color: ;
}