body {
 margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px;
 height: 100%;
}

html{
  height: 100%;
}

.content {
  height: 12000px;
  z-index: 1;
}

.buffer{
  position: absolute;
  height: 70vh;
  width: 100vw;
  background-color: #77154C;
}

.stripe{
  width: 10vw;
  height: 100vh; 
  position: absolute;
  margin-left: -3;
  margin-right: -3;
  margin-bottom: -4;
  transition: background 4s;
}

.wrapper{
  position: fixed;
  z-index: 3;
}

.wrapper .stripe:nth-of-type(2){
  left: 10vw;
}

.wrapper .stripe:nth-of-type(3){
  left: 20vw;
}

.wrapper .stripe:nth-of-type(4){
  left: 30vw;
}

.wrapper .stripe:nth-of-type(5){
  left: 40vw;
}

.wrapper .stripe:nth-of-type(6){
  left: 50vw;
}

.wrapper .stripe:nth-of-type(7){
  left: 60vw;
}

.wrapper .stripe:nth-of-type(8){
  left: 70vw;
}

.wrapper .stripe:nth-of-type(9){
  left: 80vw;
}

.wrapper .stripe:nth-of-type(10){
  left: 90vw;
}

.nav{
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  color: white;
  top: 15%;
  font-size: 24px;
}

.nav-item{
  padding-left: 10px;
}

.nav-item a{
  text-decoration: none;
  color: white;
}

.nav-item a:hover{
  color: black;
}

.red{
  background-color: #D2100B;
}

.orange{
  background-color: #F5892d;
}

.gold{
  background-color: #F5AE2D;
}

.yellow{
  background-color: #FFDF55;
}

.lime{
  background-color: #86C40A;
}

.lilypad{
  background-color: #078F58;
}

.sky{
  background-color: #077A7F;
}

.ocean{
  background-color: #4353B7;
}

.royalty{
  background-color: #6F47B3;
}

.fabulous{
  background-color: #880788;
}

.banner{    
  position: relative;
  z-index: 4;
  top: 75vh;
  left: 11vw;
  width: 78vw;
  font-size: 77px;
  color: white;
}

.bio{
  height: 100vh;
  width: 100vw;
  top: 70vh;
  z-index: 2;
  position: absolute;
  background-color: #77154C;
}

.bio .panel {
  margin-top: 5%;
  margin-left: 7%;
  z-index: 2;
  height: 40vh;
  width: 23%;
  border: 1px solid white;
  display: inline-block;
  text-align: center;
}   

.bio .raena{

}

.bio .rose{

}

.bio .cassandra{

}

.page {
  height: 100vh;
  width: 100vw;
  z-index: 2;
  position: absolute;
}

.shows {
    top: 170vh;
    background-color: #822929;
}

.music {
    top: 270vh;
    background-color: #3D1577;
}

.contact {
    top: 370vh;
    background-color: #152E77;
}