body {
 margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px;
 height: 100%;
}

html{
  height: 100%;
}

main {
  height: 100vh;
}

.stripe{
  width: 11.11vw;
  height: 100vh; 
  top: 0vh;
  position: absolute;
}

.stripe.move{
  top: -100vh;
}

/*individual stripes folded below*/
main .stripe:nth-of-type(1){
  transition: top 1.12s ease-out, background 4s;
}

main .stripe:nth-of-type(2){
  left: 11.11vw;
  transition: top 1.55s ease-out, background 4s;
}

main .stripe:nth-of-type(3){
  left: 22.22vw;
  transition: top 1.4s ease-out, background 4s;
}

main .stripe:nth-of-type(4){
  left: 33.33vw;
  transition: top 1.6s ease-out, background 4s;
}

main .stripe:nth-of-type(5){
  left: 44.44vw;
  transition: top 1.7s ease-out, background 4s;
}

main .stripe:nth-of-type(6){
  left: 55.55vw;
  transition: top 1.5s ease-out, background 4s;
}

main .stripe:nth-of-type(7){
  left: 66.66vw;
  transition: top 1.9s ease-out, background 4s;
}

main .stripe:nth-of-type(8){
  left: 77.77vw;
  transition: top 1.8s ease-out, background 4s;
}

main .stripe:nth-of-type(9){
  left: 88.88vw;
  transition: top 1.75s ease-out, background 4s;
}

nav{
  position: absolute;
  z-index: 1;
  top: 80vh;
  left: 28vw;
  width: 43vw;
  height: 20vh;
}

nav a{
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: white;
  font-size: 2vw;
}

nav a:hover{
  color: black;
}

nav a:nth-of-type(1) {
  margin-right: 3vw;
}

nav a:nth-of-type(2) {
  margin-right: 3.5vw;
  margin-left: 3.5vw;
}

nav a:nth-of-type(3) {
  margin-left: 3vw;
}

nav .banner{  
  font-size: 3vw;
  color: white;
  letter-spacing: 0.3vw;
}

/*colors folded below*/
.red{
  background-color: #AF1C08;
}

.darkred{
  background-color: #880712;
}

.orange{
  background-color: #F5892D;
}

.gold{
  background-color: #F5AE2D;
}

.yellow{
  background-color: #C3C900;
}

.lime{
  background-color: #81BD09;
}

.lilypad{
  background-color: #078F58;
}

.dank{
  background-color: #187B54
}

.sky{
  background-color: #077A7F;
}

.ocean{
  background-color: #4353B7;
}

.royalty{
  background-color: #6F47B3;
}

.purple{
  background-color: #7F57C3;
}

.fabulous{
  background-color: #880788;
}

section{
  display: none;
  height: 100vh;
  width: 100vw;
}

section.active{
  display: initial;
}

section.banner{
  display: initial;
}
